[build]
  command = "npm run build"
  publish = ".next"

[functions]
  node_bundler = "esbuild"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

[context.production.environment]
  NEXT_PUBLIC_ZENDESK_KEY = "b905adef-e3ba-42b5-a772-e7b9dd412d55"

[context.deploy-preview.environment]
  NEXT_PUBLIC_ZENDESK_KEY = "b905adef-e3ba-42b5-a772-e7b9dd412d55"

[context.branch-deploy.environment]
  NEXT_PUBLIC_ZENDESK_KEY = "b905adef-e3ba-42b5-a772-e7b9dd412d55"
